.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #141c2c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*MI PARTE DE CSS*/
/*CarWidget*/
.burbuja_cantidad_carrito{
  position: absolute;
  top: -12px;
  right: 10px;
  background-color: #141c2c; 
  color: #4f6faf;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  
}
.icono_carrito{
  height: 35px;
  width: 35px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
}
.contenedor_cartwidget{
  margin-top: 20px;
}
/*NavBar*/
.contenedor_logo_header{
  width: 30%;
  height: 35%;
}
.logo_header{
  width: 30%;
  height: 20%;
  border-radius: 10%;
}
.NavBar_mia{
  background-color: #4f6faf;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.contenedor_imagen_carrito{
  position: relative;
  display: inline-block;
}
.nav_mia{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.boton_nav{
  background-color: #a3b4d5;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
}
.boton_nav:hover {
  background-color : #141c2c;
   
}
.boton_nav:active {
  background-color: #4f6faf; 
}

.mi_app{
  display: flex;
  flex-direction: column;
  background-color:#141c2c;
}

.mi_header{
  display: flex;
  flex-direction: row;
}

.mi_itemcount{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedor1_itemcount{
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}
.cantidad_itemcount{
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding-left: 5px;
  padding-right: 5px;
}
.botones_itemcount{
  width: 75%;
  height: 75%;
  background-color: #a3b4d5;
  border-radius: 5px;
  cursor: pointer;
}
.boton_agregar_carrito{
  background-color: #a3b4d5;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}
.botones_itemcount:hover, .boton_agregar_carrito:hover{
  background-color : #4f6faf;
}

.card_detail{
  background-color: #a3b4d5;
  border-style: solid;
  border-color:#475b84;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  margin: 0 auto;
}

.imagen_card{
  max-width: 100%;
  max-height: auto;
  background-color: transparent;
}

.item_list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item{
  width: calc(33.33% - 10px);
  margin: 0 5px;
  padding-top: 25px;
  padding-bottom: 25px; 
}

.card_item_list{
  background-color: #3e4a65;
  color: white;
  border-style: solid;
  border-color:#475b84;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  margin: 0 auto;
}